@use './vars' as variables;

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    margin: 2px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    background-color:variables.home-colors(background);
    color: variables.home-colors(text);
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}
